body{
margin:0;
background:radial-gradient(circle,#0b1220,#020617);
color:white;
font-family:tahoma;
}

.sidebar{
width:250px;
height:100vh;
position:fixed;
background:rgba(255,255,255,0.05);
padding:20px;
}

.main{
margin-left:260px;
padding:20px;
}

.card{
background:rgba(255,255,255,0.06);
padding:20px;
border-radius:15px;
margin-bottom:10px;
backdrop-filter:blur(15px);
}
